<!--========== FOOTER ==========-->
{% load static %}
<footer style="background: #f5f5f5">

    <!-- Copyright -->
    <div class="container g-padding-y-20--xs">
        <div class="row">
            <div class="col-xs-6">
                <a href="/">
                    <img class="" height="40" src="{% static 'img/logo/logo-large.png' %}" alt="Logo">
                </a>
            </div>
            <div class="col-xs-6 g-margin-t-10--xs g-text-right--xs">
                <p class="g-font-size-14--xs g-margin-b-0--xs g-color--dark">© 2020 Covidscan.ai</p>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->
